<!DOCTYPE html>
<html>
<head>
  {{> header}}
  <title>Message</title>
</head>
<body>

  {{> navbar}}
  <div class="container">
    User is added successfully
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>