<!DOCTYPE html>
<html>
<head>
  {{> header}}
  <title>Message</title>
</head>
<body>

  {{> navbar}}
  <h1>Message</h1><br><br>
  <p>{{ message }}</p><br>
  <a href="/deleteUser">Delete another User</a>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>