<!DOCTYPE html>
<html>
<head>
  {{> header}}
  <title>Update User</title>
</head>
<body>

  {{> navbar}}
  <h1>Update User</h1>
  <div class="container">
    {{#if error}}
    <p>{{error}}</p>
    {{/if}}
    <form action="/updateUser" method="POST">
      <label for="id">User ID:</label><br>
      <input type="text" id="id" name="id" required><br><br>
      <label for="firstName">New First Name:</label><br>
      <input type="text" id="firstName" name="first_name"><br><br>
      <label for="lastName">New Last Name:</label><br>
      <input type="text" id="lastName" name="last_name"><br><br>
      <label for="email">New Email:</label><br>
      <input type="email" id="email" name="email"><br><br>
      <label for="phone">New Phone:</label><br>
      <input type="text" id="phone" name="phone"><br><br>
      <button type="submit">Update User</button>
    </form>
  </div>
  <br>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>